@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&display=swap');

* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;



}

a {
    text-decoration: none;
}

.card-title {
    font-weight: bolder;
    font-style: normal;
    font-size: 2rem;
}

.navbar-brand {
    font-weight: bolder;
    font-style: normal;
    font-size: 2rem;

}